.rheinmetallis {
    border: 1px solid red;
    position: relative;
    padding: 110px 10% 0px 10%;
    font-family: "Lucida Console", "Courier New", monospace;
}


.rhnmtlHide {
    display: none;
}


.txtAboutRhnmtl {
    border: 1px solid red;
    position: relative;
    padding: 0px 0% 0px 10%;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-right: 50%;
}
