.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
    background-color: white;
}

.card {
    width: 220px;
    padding: 20px;
    background: #222;
    color: white;
    text-align: center;
    border-radius: 16px;
}

.products_text {
    text-align: center;
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 0% 10% 0% 10%;
    background-color: white;
}


/*FROM HOW TO*/
.card:hover {opacity: 0.8}
