.digital_and_electronic_solutions_h {
    padding: 110px 10% 0px 10%;
}

.digital_and_electronic_solutions_h3 {
    padding: 20px 10% 0px 10%;
}

.txtAboutDES {
    position: relative;
    padding: 10px 10% 0px 10%;
    height: 150px;
}
