/*Armored Vehicles*/

#Armored_Vehicles {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 30%;
}

.AVSection {
    margin-left: 5%;
}


/*Weapon Systems*/

#Weapon_Systems {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 30%;
}


/*Air Defense Solutions*/

#Air_Defense_Solutions {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 30%;
}


