#products {
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
    padding: 100px 0px 0px 0px;
}

.cards {
    display: flex;
    gap: 20px;                 /* расстояние между карточками */
    justify-content: center;   /* по центру */
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    padding: 20px;
    background: #222;
    color: white;
    text-align: center;
    border-radius: 8px;
}

