.rheinmetallis {
    position: relative;
    padding: 110px 10% 0px 10%;
    height: 150px;
    font-family: "Lucida Console", "Courier New", monospace;
    scroll-margin-top: 80px;
}


.rhnmtlHide {
    display: none;
}


.txtAboutRhnmtl {
    position: relative;
    margin-left: 10%;
    margin-right: 30%;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-right: 30%;
}
