.simulation_and_training_h {
    padding: 110px 10% 0px 10%;
}

.simulation_and_training_h3 {
    padding: 20px 10% 0px 10%;
}

.txtAboutST {
    position: relative;
    padding: 10px 10% 0px 10%;
    height: 150px;
}
